body, html {
    overflow: hidden;
}


#catch{
font-family: fantasy;
font-size: 50px;
left: 35%;
margin-top: 3%;
position: absolute;
z-index: 11;
animation: mymove 10s infinite;
border: 3px solid #000000;
padding: 3px 5px;
}

@keyframes mymove {
 0%{color: red;}
10%{color: rgb(255, 136, 0);}
20%{color: rgb(255, 251, 0);}
30%{color: rgb(128, 226, 0);}
40%{color: rgb(0, 226, 151);}
50%{color: rgb(0, 192, 226);}
60%{color: rgb(0, 23, 226);}
70%{color: rgb(136, 0, 226);}
80%{color: rgb(200, 0, 226);}
90%{color: rgb(226, 0, 94);}
100%{color: red;}
  
} 

#balletje{
    position: absolute;
    width: 100px;
    height: 100px;
    top : 50%;
    left:10%;
    transform: rotateY(180deg);
    z-index: 10;
    overflow: hidden;
}


.food{
    position: absolute;
    border-radius: 50%;
    width: 2px;
    height: 2px;

}

#info{
font-family: Arial, Helvetica, sans-serif;
width: 200px;
font-size: 15px;
border: 3px #000000;
text-align: center;
float: right;
margin-top: 3%;
margin-right: 10%;

}
